.ad {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    border: solid 2px #222;
    width: 150px; 
    height: 120px;
    box-shadow: 2px 2px 5px #8d918e;
}

.ad-dark {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    border: solid 2px #222;
    width: 150px; 
    height: 120px;
    background-color: #222;
    color: #fff;
    box-shadow: 2px 2px 5px #8d918e;
}
