p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.chocolate-bar {
    border-radius: 3px;
    display: block;
    background-color: #6b543d;
    height: 20px;
    margin-top: 0px;
    padding-top: 0px;
}

.vanilla-bar {
    border-radius: 3px;
    display: block;
    background-color: #fcf2e8;
    border: solid 1px #6b543d;
    height: 20px;
    margin-top: 0px;
}

.strawberry-bar {
    border-radius: 3px;
    display: block;
    background-color: #ffb1dc;
    height: 20px;
    margin-top: 0px;
}