h1,h2,h3,h4,h5 {
  margin: 0px;
  font-family: 'Caveat', cursive;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
  font-family: sans-serif;
}

button {
  font-family: sans-serif;
  height: 20px;
  background-color: #0e3c7e;
  border: none;
  box-shadow: 1px;
  border-radius: 3px;
  margin-left: 2px;
  color: white;
  padding: 5px;
  text-align: center;
}

button:disabled {
  background-color: gray;
}

button:hover {
  background-color: #1e60a9;
}

@media only screen and (min-width: 700px) {
  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}